@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
}

:root {
  --accent-fill-rest: #036ac4;
  --accent-fill-hover: #0473ce;
  --accent-fill-active: #0481e0;
  --accent-fill-focus: #036ac4;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  overflow-y: scroll;
  background-color: #000;
  position: relative;
}

span {
  color: rgb(255, 255, 255);
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.text-xs {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}

.text-sm {
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}

.text-base {
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
}

.text-lg {
  font-family: Inter;
  font-size: 35px;
  font-weight: 500;
  line-height: 45px;
}

.text-xl {
  font-family: Inter;
  font-size: 45px;
  font-weight: 700;
  line-height: 54px;
}

.fontWeight-regular {
  font-weight: 400;
}
.fontWeight-semibold {
  font-weight: 500;
}
.fontWeight-bold {
  font-weight: 600;
}

.divider {
  height: 4px;
  width: 100%;
  bottom: 0px;
  background: linear-gradient(93.09deg, rgb(4, 129, 224) 0%, rgb(3, 106, 196) 100%);
}

.center {
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0 8px;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

#classic-container {
  position: relative;
  width: 100%;
  height: 440px;
  border-radius: 40px;
  overflow: hidden;
}

#classic-container .classic-inner {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-height: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  transition: width 0.3s ease;
  background-image: url(../img/bgclasssic-scaled.jpeg);
  z-index: 0;
  animation: bgfade 2s linear infinite forwards;
  -webkit-animation: bgfade 2s linear infinite forwards;
  -moz-animation: bgfade 2s linear infinite forwards;
}

@keyframes bgfade {
  0% {
    box-shadow: inset -537.6px -184px 230px -7px rgba(0, 0, 0, 0);
  }
  50% {
    box-shadow: inset -537.6px -184px 230px -7px rgba(0, 0, 0, 0.5);
  }
  100% {
    box-shadow: inset -537.6px -184px 230px -7px rgba(0, 0, 0, 0);
  }
}

.statistic-content {
  display: flex;
  justify-content: space-evenly;
  margin: 48px 0;
}

.statistic-content .statistic {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.statistic-content .statistic .title {
  margin-bottom: 8px;
}

/* .classic-bg .classic-inner span {
  font-size: 40px;
  font-weight: 500;
  line-height: 45px;
} */

@media screen and (max-width: 599.95px) {
  .statistic-content {
    flex-direction: column;
    gap: 16px;
  }
}

.classic-bg {
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 40px;
  overflow: hidden;
  margin-bottom: 48px;
  border-bottom: 4px solid #22242e;
}

.classic-bg .classic-inner {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  pointer-events: none;
  align-items: center;
  padding-left: 100px;
}

.classic-bg .classic-inner .about {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 599.95px) {
  .classic-bg {
    height: 200px;
  }
  .classic-bg .classic-inner {
    padding: 0;
    justify-content: center;
  }
  .classic-bg .classic-inner span {
    font-size: 17px;
    font-weight: 400;
    line-height: 21px;
  }
}

.classic-bg img {
  background-size: cover;
  background-position: center;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.head-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

.logo {
  display: block;
  margin-right: 2.25rem;
}

@media screen and (max-width: 599.95px) {
  .logo {
    zoom: 90%;
  }
}

.menu {
  display: flex;
  gap: 16px;
}

.menu a {
  font-size: 14px;
  text-decoration: none;
  color: rgb(255, 255, 255);
  transition: color 0.2s ease;
}

.menu a:hover {
  color: #cecece !important;
}

.btn {
  border: 1px solid transparent;
  flex-grow: 1;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  fill: inherit;
  cursor: pointer;
  font-family: inherit;
  height: calc((8 + 0) * 4 * 1px);
  min-width: calc((8 + 0) * 4 * 1px);
  font-size: 14px;
  position: relative;
  color: #fff;
  transition: box-shadow 0.2s ease;
}

.btn.accent {
  background: var(--accent-fill-rest);
}

.btn.shadow {
  box-shadow: 0 0 24px #0053a6;
}

.btn.shadow:hover {
  box-shadow: 0 0 32px #0079f2;
}

.text-logo {
  position: absolute;
  top: 0;
  right: 16px;
  user-select: none;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}

.text-logo span {
  font-size: 40px;
  color: rgba(255, 255, 255, 0.95);
  line-height: 70px;
  font-weight: 700;
  letter-spacing: 4px;
  text-shadow: 0px 0px 5px rgb(0 0 0);
}

.text-logo .sub-text-logo {
  font-size: 16px;
  font-weight: 500;
}

.text-logo .group-underline {
  position: relative;
  display: flex;
  justify-content: center;
}

.text-logo .underline {
  position: absolute;
  top: 0;
  z-index: 10;
}

/* .text-logo .faster::after {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url(../img/underline.svg);
  background-size: 200px;

  position: absolute;
  display: inline-block;
} */

@media screen and (max-width: 599.95px) {
  .text-logo {
    align-items: center;
    text-align: center;
  }

  .text-logo span {
    font-size: 30px;
    line-height: 50px;
  }

  .text-logo .sub-text-logo {
    margin-top: 45px;
    line-height: normal;
  }


}

.join-container {
  display: flex;
}

.glass-content {
  display: flex;
  justify-content: center;
  padding: 48px 0;
  overflow: visible;
}

.glass-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.glass-content .coin-1 {
  position: absolute;
  left: -30px;
  top: 60px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.glass-content .coin-2 {
  position: absolute;
  top: 180px;
  left: 120px;
  z-index: -1;
  user-select: none;
  pointer-events: none;
}

.glass-content .coin-3 {
  position: absolute;
  right: -70px;
  top: 0;
  z-index: 1;
  user-select: none;
  pointer-events: none;
}

@media screen and (max-width: 599.95px) {
  .glass-content .coin-1 {
    left: -10px;
    zoom: 0.8;
  }

  .glass-content .coin-2 {
    top: 280px;
    zoom: 0.8;
  }

  .glass-content .coin-3 {
    right: -10px;
    zoom: 0.8;
  }
}

.glass-item {
  display: flex;
  flex-direction: column;
  max-width: 240px;
  margin-left: 16px;
  margin-bottom: 16px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 6%) 0px 0px 10px;
  backdrop-filter: blur(8px);
  background: radial-gradient(circle at center bottom, rgba(137, 0, 246, 0.333), rgba(255, 255, 255, 0.06) 70%);
}

.glass-item .image {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  width: 100%;
  height: 20%;
}

.glass-item .title {
  margin: 12px;
}

.glass-item .desc {
  margin: 12px;
}

.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  padding-bottom: 48px;
}

.footer .logo {
  margin-bottom: 16px;
}

@media screen and (max-width: 599.95px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
}

.btn-version {
  position: absolute;
  top: 16px;
  right: 16px;
  user-select: none;
  pointer-events: none;
}

/* TODO */
canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-80%, -45%);
}

.type-wrap {
  font-size: 50px;
  padding: 20px;
}
