@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-ExtraBold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:host {
  max-height: 100px;
}

* {
  box-sizing: border-box;
}

:root {
  --bg: rgb(0, 0, 0);
  --accent-fill-rest: #036ac4;
  --accent-fill-hover: #0473ce;
  --accent-fill-active: #0481e0;
  --accent-fill-focus: #036ac4;
  --primary: #036ac4;
  --portal-hover: linear-gradient(rgb(247, 247, 247), rgb(247, 247, 247)),
    linear-gradient(rgb(229, 229, 229) 90%, rgb(206, 206, 206) 100%);
  --max-height: 300px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  color: var(--bg);
  overflow-y: scroll;
  background-color: #fafafa;
  position: relative;
}

a {
  text-decoration: none;
}

span {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: var(--primary);
}

b {
  font-weight: 500;
}

.fontSize-su {
  font-size: 42px;
  font-weight: 200;
}
.fontSize-xxl {
  font-size: 28px;
  font-weight: 200;
}
.fontSize-xlPlus {
  font-size: 24px;
  font-weight: 200;
}
.fontSize-xl {
  font-size: 21px;
  font-weight: 200;
}
.fontSize-l {
  font-size: 17px;
  font-weight: 300;
}
.fontSize-mPlus {
  font-size: 15px;
  font-weight: 400;
}
.fontSize-m {
  font-size: 14px;
  font-weight: 400;
}
.fontSize-sPlus {
  font-size: 13px;
  font-weight: 400;
}
.fontSize-s {
  font-size: 12px;
  font-weight: 400;
}
.fontSize-xs {
  font-size: 11px;
  font-weight: 400;
}
.fontSize-mi {
  font-size: 10px;
  font-weight: 600;
}

.fontWeight-light {
  font-weight: 100;
}
.fontWeight-semilight {
  font-weight: 300;
}

.fontWeight-regular {
  font-weight: 400;
}
.fontWeight-semibold {
  font-weight: 500;
}
.fontWeight-bold {
  font-weight: 600;
}

.uppercase {
  text-transform: uppercase;
}

/* z-index */
.z-10 {
  z-index: 10;
}

/* bootstrap.min.css */
.w-25 {
  width: 25% !important;
}
.w-50 {
  width: 50% !important;
}
.w-75 {
  width: 75% !important;
}
.w-100 {
  width: 100% !important;
}

/* spacing system */
.m-0 {
  margin: 0 !important;
}
.mt-0,
.my-0 {
  margin-top: 0 !important;
}
.mr-0,
.mx-0 {
  margin-right: 0 !important;
}
.mb-0,
.my-0 {
  margin-bottom: 0 !important;
}
.ml-0,
.mx-0 {
  margin-left: 0 !important;
}
.m-1 {
  margin: 0.25rem !important;
}
.mt-1,
.my-1 {
  margin-top: 0.25rem !important;
}
.mr-1,
.mx-1 {
  margin-right: 0.25rem !important;
}
.mb-1,
.my-1 {
  margin-bottom: 0.25rem !important;
}
.ml-1,
.mx-1 {
  margin-left: 0.25rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}
.mt-2,
.my-2 {
  margin-top: 0.5rem !important;
}
.mr-2,
.mx-2 {
  margin-right: 0.5rem !important;
}
.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}
.ml-2,
.mx-2 {
  margin-left: 0.5rem !important;
}
.m-3 {
  margin: 1rem !important;
}
.mt-3,
.my-3 {
  margin-top: 1rem !important;
}
.mr-3,
.mx-3 {
  margin-right: 1rem !important;
}
.mb-3,
.my-3 {
  margin-bottom: 1rem !important;
}
.ml-3,
.mx-3 {
  margin-left: 1rem !important;
}
.m-4 {
  margin: 1.5rem !important;
}
.mt-4,
.my-4 {
  margin-top: 1.5rem !important;
}
.mr-4,
.mx-4 {
  margin-right: 1.5rem !important;
}
.mb-4,
.my-4 {
  margin-bottom: 1.5rem !important;
}
.ml-4,
.mx-4 {
  margin-left: 1.5rem !important;
}
.m-5 {
  margin: 3rem !important;
}
.mt-5,
.my-5 {
  margin-top: 3rem !important;
}
.mr-5,
.mx-5 {
  margin-right: 3rem !important;
}
.mb-5,
.my-5 {
  margin-bottom: 3rem !important;
}
.ml-5,
.mx-5 {
  margin-left: 3rem !important;
}
.p-0 {
  padding: 0 !important;
}
.pt-0,
.py-0 {
  padding-top: 0 !important;
}
.pr-0,
.px-0 {
  padding-right: 0 !important;
}
.pb-0,
.py-0 {
  padding-bottom: 0 !important;
}
.pl-0,
.px-0 {
  padding-left: 0 !important;
}
.p-1 {
  padding: 0.25rem !important;
}
.pt-1,
.py-1 {
  padding-top: 0.25rem !important;
}
.pr-1,
.px-1 {
  padding-right: 0.25rem !important;
}
.pb-1,
.py-1 {
  padding-bottom: 0.25rem !important;
}
.pl-1,
.px-1 {
  padding-left: 0.25rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}
.pt-2,
.py-2 {
  padding-top: 0.5rem !important;
}
.pr-2,
.px-2 {
  padding-right: 0.5rem !important;
}
.pb-2,
.py-2 {
  padding-bottom: 0.5rem !important;
}
.pl-2,
.px-2 {
  padding-left: 0.5rem !important;
}
.p-3 {
  padding: 1rem !important;
}
.pt-3,
.py-3 {
  padding-top: 1rem !important;
}
.pr-3,
.px-3 {
  padding-right: 1rem !important;
}
.pb-3,
.py-3 {
  padding-bottom: 1rem !important;
}
.pl-3,
.px-3 {
  padding-left: 1rem !important;
}
.p-4 {
  padding: 1.5rem !important;
}
.pt-4,
.py-4 {
  padding-top: 1.5rem !important;
}
.pr-4,
.px-4 {
  padding-right: 1.5rem !important;
}
.pb-4,
.py-4 {
  padding-bottom: 1.5rem !important;
}
.pl-4,
.px-4 {
  padding-left: 1.5rem !important;
}
.p-5 {
  padding: 3rem !important;
}
.pt-5,
.py-5 {
  padding-top: 3rem !important;
}
.pr-5,
.px-5 {
  padding-right: 3rem !important;
}
.pb-5,
.py-5 {
  padding-bottom: 3rem !important;
}
.pl-5,
.px-5 {
  padding-left: 3rem !important;
}
.m-n1 {
  margin: -0.25rem !important;
}
.mt-n1,
.my-n1 {
  margin-top: -0.25rem !important;
}
.mr-n1,
.mx-n1 {
  margin-right: -0.25rem !important;
}
.mb-n1,
.my-n1 {
  margin-bottom: -0.25rem !important;
}
.ml-n1,
.mx-n1 {
  margin-left: -0.25rem !important;
}
.m-n2 {
  margin: -0.5rem !important;
}
.mt-n2,
.my-n2 {
  margin-top: -0.5rem !important;
}
.mr-n2,
.mx-n2 {
  margin-right: -0.5rem !important;
}
.mb-n2,
.my-n2 {
  margin-bottom: -0.5rem !important;
}
.ml-n2,
.mx-n2 {
  margin-left: -0.5rem !important;
}
.m-n3 {
  margin: -1rem !important;
}
.mt-n3,
.my-n3 {
  margin-top: -1rem !important;
}
.mr-n3,
.mx-n3 {
  margin-right: -1rem !important;
}
.mb-n3,
.my-n3 {
  margin-bottom: -1rem !important;
}
.ml-n3,
.mx-n3 {
  margin-left: -1rem !important;
}
.m-n4 {
  margin: -1.5rem !important;
}
.mt-n4,
.my-n4 {
  margin-top: -1.5rem !important;
}
.mr-n4,
.mx-n4 {
  margin-right: -1.5rem !important;
}
.mb-n4,
.my-n4 {
  margin-bottom: -1.5rem !important;
}
.ml-n4,
.mx-n4 {
  margin-left: -1.5rem !important;
}
.m-n5 {
  margin: -3rem !important;
}
.mt-n5,
.my-n5 {
  margin-top: -3rem !important;
}
.mr-n5,
.mx-n5 {
  margin-right: -3rem !important;
}
.mb-n5,
.my-n5 {
  margin-bottom: -3rem !important;
}
.ml-n5,
.mx-n5 {
  margin-left: -3rem !important;
}
.m-auto {
  margin: auto !important;
}
.mt-auto,
.my-auto {
  margin-top: auto !important;
}
.mr-auto,
.mx-auto {
  margin-right: auto !important;
}
.mb-auto,
.my-auto {
  margin-bottom: auto !important;
}
.ml-auto,
.mx-auto {
  margin-left: auto !important;
}

.divider {
  margin-top: 4px;
  margin-bottom: 8px;
}

/* Cursor */
.cursor-pointer {
  cursor: pointer;
}

/* Select */
.select {
  min-width: unset;
  width: 200px;
}

.label {
  cursor: pointer;
}

.select.small {
  width: 100px;
}

@media screen and (max-width: 599.95px) {
  .select {
    width: 100%;
  }
  .select.small {
    width: 100%;
  }
}

/* radio  */
.radio-group > * {
  margin-top: 4px;
  margin-bottom: 4px;
}

.listbox {
  max-height: 100px;
}

.table-responsive {
  overflow-x: auto;
}

/* table */
table {
  background-color: #ffffff;
  background: padding-box linear-gradient(#ffffff, #ffffff), border-box linear-gradient(#efefef 90%, #d6d6d6 100%);
  border-collapse: collapse;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 0px 2px 0px, rgba(0, 0, 0, 0.14) 0px 2px 4px 0px;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 24px;
}

thead tr th {
  font-weight: 400;
  padding: 16px;
}

tbody tr td {
  padding: 8px 16px;
}

tbody tr:hover {
  background-image: var(--portal-hover);
}

td,
th {
  font-size: 14px;
  border: 1px solid #ebebeb;
  text-align: left;
}

@media screen and (max-width: 599.95px) {
  thead tr th {
    padding: 10px;
  }
  tbody tr td {
    padding: 4px 10px;
  }
  td,
  th {
    font-size: 12px;
  }
}

/* form control */
.form-control {
  width: 300px;
}

.fixed-height {
  min-height: 35px;
}

@media screen and (max-width: 599.95px) {
  .form-control {
    width: 100%;
  }
}

/* form-group */
.form-group {
  margin-bottom: 4px;
}

form .field {
  display: block;
  margin-bottom: 12px;
}

form .action {
  margin-top: 8px;
  margin-bottom: 24px;
}

/* flex */
.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}
.justify-content-evenly {
  justify-content: space-evenly;
}

.align-items-center {
  align-items: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

@media screen and (max-width: 599.95px) {
  .flex-xs-column {
    flex-direction: column;
  }
}

/* grid system */
.grid-container {
  display: grid;
  gap: 2rem;
  margin-bottom: 16px;
}

.grid-column-2 {
  grid-template-columns: repeat(2, 1fr);
}

.grid-column-4 {
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 599.95px) {
  .grid-container {
    gap: 1rem;
  }
  .grid-column-2,
  .grid-column-4 {
    grid-template-columns: unset;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .grid-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@font-face {
  font-family: 'FabricMDL2Icons';
  src: url('../fonts/fabric-icons.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons';
  font-style: normal;
  font-weight: normal;
}

/* alert */
.alert {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  background: #ffffff;
  margin-bottom: 12px;
  padding: 4px 12px;
  min-height: 44px;
  font-weight: 600;
  border-radius: 8px;
  border: 1px solid #f3f3f3;
}

.alert.success::before {
  font-family: 'FabricMDL2Icons';
  content: '\EF7D';
  color: #107c10;
  margin-right: 12px;
}

.alert.error::before {
  font-family: 'FabricMDL2Icons';
  content: '\EB90';
  color: #d13438;
  margin-right: 12px;
}

.img-currency {
  height: 17px;
}

/* dialog */
.dialog {
  z-index: 100;
}

.overlay {
  background-color: transparent;
}

.dialog-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem;
}

.dialog .close-button {
  cursor: pointer;
}

.dialog .close-button:hover i {
  color: rgba(23, 23, 23, 0.8);
}

.dialog .close-button:active i {
  transform: scale(0.95, 0.95);
}

.dialog .close-button i {
  font-size: 32px;
}

.dialog-content {
  padding: 8px;
}

.dialog-content ul li {
  list-style: disc;
}

.file-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.file-content {
  position: relative;
  background: white;
}

.file-content .preview {
  cursor: pointer;
  width: 250px;
  height: 250px;
  outline: 2px dashed #e5e5e5;
}

.file-content .preview img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.file-content .preview .file {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;
  cursor: pointer;
  opacity: 0;
  width: 250px;
  height: 200px;
}

/* hidden */
.is-xs {
  display: none;
}

@media screen and (max-width: 599.95px) {
  .is-xs {
    display: block;
  }
  /* hidden */
  .img-currency {
    height: 12px;
  }
}

/* color */

/* keyboard */
#keyboard {
  width: auto;
  display: inline-block;
  background-color: #f4f4f4;
  border: 1px solid #bbb;
  border-radius: 3px;
  padding: 4px 0 1px 3px;
  overflow: hidden;
  box-sizing: border-box;
}

#keyboard ul.key-group {
  margin: 0;
  padding: 0;
  list-style: none;
}

#keyboard ul.key-group li {
  width: 22px;
  height: 100%;
  text-align: center;
  float: left;
  margin: 0 4px 4px 0;
  padding: 2px;
  font-size: 12px;
  line-height: 14px;
  background: #ffffff;
  border: 1px solid #bbb;
  border-radius: 3px;
  cursor: default;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#keyboard ul.key-group li:active {
  background-image: var(--portal-hover);
}

#keyboard ul li.key.uppercase {
  text-transform: uppercase;
}

#keyboard ul li .on {
  display: block;
}

#keyboard ul li .hide {
  display: none;
}

/* recomnand */
@media screen and (max-width: 599.95px) {
  #keyboard {
    zoom: 0.8;
  }
}

/* web */
/* pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination li {
  list-style: none;
  font-size: 15px;
}

.pagination .page-item {
  position: relative;
  margin: 0 4px;
  padding: 4px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination .page-item .page-link {
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.pagination .page-item.active .page-link::before {
  content: '';
  display: block;
  position: absolute;
  top: 16px;
  left: auto;
  bottom: -4px;
  height: 20px;
  width: 3px;
  background-color: #0078d4;
  border-radius: 4px;
  transform: rotate(90deg);
}

.pagination .page-item .prev {
  visibility: hidden;
}

.pagination .page-item .next {
  visibility: hidden;
}

.pagination .page-item .prev::before {
  font-family: 'FabricMDL2Icons';
  visibility: visible;
  content: '\F2DD';
  display: inline-block;
  font-size: 20px;
}

.pagination .page-item .prev.disabled {
  opacity: 0.5;
}

.pagination .page-item .next::after {
  font-family: 'FabricMDL2Icons';
  visibility: visible;
  content: '\F2DF';
  display: inline-block;
  font-size: 20px;
}

.pagination .page-item .next.disabled {
  opacity: 0.5;
}

/* layout */
#portal {
  background-color: inherit;
}

#portal .container {
  max-width: 900px;
  margin: auto;
  padding: 0.7rem 1rem;
}

.portal-menu {
  padding: 10px 0;
  background-color: var(--bg);
  height: 128px;
}

#portal.sticky .portal-menu {
  position: fixed;
  top: 0;
  left: 0;
  padding: 4px;
  width: 100%;
  height: 70px;
  z-index: 100;
  overflow: hidden;
  transition: height 0.4s ease;
}

#portal.sticky .portal-logo {
  display: block;
}

#portal.sticky .header-nav {
  display: flex;
  align-items: center;
  height: 2.5rem;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: none;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.portal-logo {
  display: none;
}

.portal-logo img {
  height: 100%;
}

.profile-group {
  display: none;
  min-width: 160px;
  align-items: center;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.profile-group img {
  object-fit: cover;
}

.profile-group .profile {
  background-color: transparent;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

.profile-group .text {
  color: #ffffff;
  margin: 0 10px;
}

.menu-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

#mobile-menu-icon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 100ms linear;
}

#mobile-menu-icon i {
  color: #ffffff;
}

#mobile-menu-icon:active {
  outline: 1px dotted #ffffff;
  outline-style: none;
}

#mobile-menu-icon:hover {
  background-color: rgba(102, 102, 102, 0.25);
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 66px;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 90ms ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu-item span {
  font-size: 14px;
}

.menu-item:not(:first-child) {
  margin-left: 8px;
}

.menu-item i {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ffffff;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: all 90ms ease;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-bottom: 6px;
  background-color: rgba(102, 102, 102, 0.25);
}

.menu-item:hover i {
  background-color: rgba(102, 102, 102, 0.45);
  /* border: 1px solid rgba(102, 102, 102, 0.5); */
  /* transform: scale(0.95, 0.95); */
}

.menu-item:active {
  border-color: #000000;
  transform: scale(0.95, 0.95);
}

.menu-item.active i {
  background-color: rgba(255, 255, 255, 0.27);
}

#portal-content {
  opacity: 0;
  padding: 16px 0;
}

#portal.sticky #portal-content {
  padding: 90px 0 12px 0;
}

#loader {
  position: fixed;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  inset: 0px;
  -webkit-tap-highlight-color: transparent;
  color: rgb(255, 255, 255);
  z-index: 1201;
}

.card {
  margin-right: 16px;
  margin-bottom: 16px;
  border: 1px solid #ebebeb;
  box-shadow: none;
  padding: 16px;
}

.card-plan-content {
  position: relative;
}

.card-plan-item {
  padding: 10px 16px;
  min-width: 300px;
}

input.card-plan {
  position: absolute;
  opacity: 0;
}

input.card-plan:hover + label .card-plan-item {
  background-color: #ebebeb;
}

input.card-plan:checked + label .card-plan-item {
  outline: 2px solid var(--accent-fill-rest);
  background-color: #f5f9ff;
}

input.card-plan:checked + label .card-plan-item #plan-name {
  color: var(--accent-fill-rest);
}

.line-rounded {
  position: relative;
}

.line-rounded::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 3px;
  background: transparent;
  border-radius: 4px;
}

.line-rounded.color1::before {
  background: var(--accent-fill-rest);
}

.line-rounded.color2::before {
  background: #31752f;
}

.line-rounded.color3::before {
  background-color: #6264a7;
}

.line-rounded.color4::before {
  background-color: #a4373a;
}

/* start fluent progress */
.fluent-progress {
  display: block;
  width: 32px;
  height: 32px;
  overflow-x: hidden;
  overflow-y: hidden;
}

.progress {
  height: 100%;
  width: 100%;
}

.lable {
  width: 200px;
}

.background {
  fill: none;
  stroke-width: 2px;
}
.indeterminate-indicator-1 {
  stroke: var(--accent-fill-rest);
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  transform-origin: 50% 50%;
  transform: rotate(-90deg);
  transition: all 0.2s ease-in-out 0s;
  animation: 2s linear 0s infinite normal none running spin-infinite;
}

@keyframes spin-infinite {
  0% {
    stroke-dasharray: 0.01px, 43.97px;
    transform: rotate(0deg);
  }
  50% {
    stroke-dasharray: 21.99px, 21.99px;
    transform: rotate(450deg);
  }
  100% {
    stroke-dasharray: 0.01px, 43.97px;
    transform: rotate(1080deg);
  }
}
/* end fluent progress */

@media screen and (max-width: 599.95px) {
  #portal .container {
    height: 100%;
  }

  #portal-content {
    padding: 90px 0 12px 0;
  }

  .portal-menu {
    position: fixed;
    top: 0;
    left: 0;
    padding: 4px;
    width: 100%;
    height: 70px;
    z-index: 100;
    overflow: hidden;
    transition: height 0.4s ease;
  }

  .header-nav {
    display: flex;
    align-items: center;
    height: 2.5rem;
  }
  .portal-menu.active {
    height: 100%;
  }

  .portal-menu .menu {
    flex-direction: column;
  }
  .portal-logo {
    display: block;
  }
  .portal-menu .menu-group {
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 4px 0;
  }
  .menu-item:not(:first-child) {
    margin-left: 0;
  }
  .portal-menu .menu-item {
    background: transparent;
    align-items: flex-start;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 0;
    margin-bottom: 8px;
    padding: 8px 8px 8px 0px;
    transform: none;
  }
  .portal-menu .menu-item i {
    display: none;
  }
  .portal-menu .menu-item.active {
    color: #949494;
  }
}

@media screen and (min-width: 600px) and (max-width: 899px) {
  .menu {
    padding-bottom: 6px;
  }
  .menu-group .menu-item {
    margin-left: 4px;
    padding: 4px;
  }
}

@media screen and (min-width: 900px) {
  .menu-group {
    justify-content: flex-end;
  }
  .profile-group {
    display: flex;
  }
}

.payment_form span {
  display: inline-block;
}

.deposit-process-wrap,
.deposit-cancel-wrap {
  display: inline-block;
}

.deposit-process-wrap {
  color: #ffffff;
}

.deposit-process-wrap .sbmt,
.deposit-cancel-wrap .sbmt {
  border: 1px solid transparent;
  flex-grow: 1;
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  white-space: nowrap;
  outline: none;
  text-decoration: none;
  color: inherit;
  border-radius: 4px;
  fill: inherit;
  cursor: pointer;
  font-family: inherit;
  height: calc((8 + 0) * 4 * 1px);
  min-width: calc((8 + 0) * 4 * 1px);
  font-size: 14px;
  position: relative;
}

.deposit-process {
  margin-right: 8px;
  background: padding-box linear-gradient(var(--accent-fill-rest), var(--accent-fill-rest)),
    border-box var(--accent-stroke-control-rest);
}

.deposit-process:hover {
  background: padding-box linear-gradient(var(--accent-fill-hover), var(--accent-fill-hover)),
    border-box var(--accent-stroke-control-hover);
}

.deposit-cancel {
  margin-right: 8px;
  background: padding-box linear-gradient(var(--neutral-fill-rest), var(--neutral-fill-rest)),
    border-box var(--neutral-stroke-control-rest);
}

.deposit-cancel:hover {
  background: padding-box linear-gradient(var(--neutral-fill-hover), var(--neutral-fill-hover)),
    border-box var(--neutral-stroke-control-hover);
}

.payment-form {
  border: 1px solid #ebebeb;
  padding: 8px 16px;
  border-radius: 8px;
  background: #fff;
}
